{#
# GNU MediaGoblin -- federated, autonomous media hosting
# Copyright (C) 2011-2013 MediaGoblin contributors.  See AUTHORS.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{%- block mediagoblin_footer %}
<footer>
		Orgulhosamente fornecido por <a href="https://mediagoblin.org/" title='Version {{ version }}'>MediaGoblin</a>, um projeto <a href="http://gnu.org/">GNU</a>.
	{% trans source_link=app_config['source_link'] -%}
		Dispon&iacute;vel em <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">AGPL</a>. <a href="{{ source_link }}">C&oacute;digo fonte</a> deste site.
		Mantido pela <a href="http://iikb.org" target="_blank">igreja insurgente Kopimista Brasileira</a>, <a href="http://piratas.xyz" target="_blank">PIRATAS.xyz</a> e pelo <a href="http://gti.pirata.xyz" target="_blank">GTI</a> do <a href="http://partidopirata.org" target="_blank">Partido Pirata do Brasil</a>.
	{%- endtrans %}
	{% if app_config['show_tos'] %}
		<p class="fine_print">
			<a href="{{ request.urlgen('terms_of_service') }}">
			{%- trans %}Termos de Serviço{%- endtrans %}
			</a>
		</p>
	{% endif %}
</footer>
{%- endblock mediagoblin_footer -%}
