{#
# GNU MediaGoblin -- federated, autonomous media hosting
# Copyright (C) 2011, 2012 MediaGoblin contributors.  See AUTHORS.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% if request.user %}
    <h1>Explore</h1>
  {% else %}
    <div class="row foot">
      <div class="eleven columns">
        <h1>Ol&aacute;, bem vinda(o) &agrave; Biblioteca Pirata&excl;</h1>
        <p>Este site usa <a href="http://mediagoblin.org">MediaGoblin</a>, um programa excelente para hospedar, gerenciar e compartilhar documentos, imagens, e material audiovisual.</p>
        {% if auth %}
        {% if allow_registration %}
          <p>Don't have one yet? It's easy!</p>
          <a class="button_action_highlight" href=
            {% if persona_auth is defined %}
              "javascript:;" id="persona_login1"
            {% else %}
              "{{ request.urlgen('mediagoblin.auth.register') }}"
            {% endif %}
            >Create an account at this site</a>
            or
		{% else %}
        <p>Para adicionar sua pr&oacute;pria m&iacute;dia, publicar coment&aacute;rios e mais outras coisas, de forma an&ocirc;nima voc&ecirc; pode entrar com os seguintes dados:</p>
		<p><u>Usu&aacute;rio</u>: <b>pirata</b></p>
		<p><u>Senha</u>: <b>naosouagente</b></p>
        {% endif %}
        {% endif %}
            <a class="button_action" href="./auth/login">Entrar</a>
      </div>
      <div class="four columns offset-by-one">
        <img class="welcomeimage" src="{{ request.staticdirect('/images/home_goblin.png') }}">
      </div>
    </div>
    <div class="clear"></div>
  {% endif %}

